/* Customize scrollbar */
.scrollbar::-webkit-scrollbar {
  width: 6px; /* Adjust the width as needed */
  height: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #4a5568; /* Adjust the color as needed */
  border-radius: 3px; /* Adjust the border radius as needed */
}

.scrollbar::-webkit-scrollbar-track {
  background-color: #edf2f7; /* Adjust the background color as needed */
  height: 10px;
}
.scrollbar::-webkit-scrollbar-track-piece {
  height: 100px; /* Adjust the height as needed */
}
/* End of custom scroll bar */
