/* Header */
.bg-gradient {
  background: linear-gradient(
    90deg,
    rgba(149, 2, 2, 0.7972530076483718) 3%,
    rgba(0, 0, 0, 1) 50% /* ,
    rgba(149, 2, 2, 0.8000541280965512) 97% */
  );
}
.black-background {
  position: relative;
  background-color: black;
}

.black-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    30,
    30,
    32,
    0
  ); /* Adjust the alpha value to control the lightness */
}
/* Cover Page */
.cover-page {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(100%);
  /* filter: blur(2px);
  -webkit-filter: blur(2px); */
}

.content {
  text-align: center;
  margin: 0 auto;
}

.content h1 {
  margin-bottom: 10px;
  font-size: 12vw;
  -webkit-text-stroke: 2px #fff;
  color: transparent;
  font-weight: 850;
  transition: 0.5s;
}

.content h1:hover {
  color: white;
  -webkit-text-stroke: 2px #000;
}
.content a {
  text-decoration: none;
  color: white;
  font-size: 3vw;
  border: 2px solid white;
  padding: 2vw 3vw;
  border-radius: 50px;
  margin-top: 3vw;
  transition: 0.5s;
  max-width: 50%;
  margin: 0 auto;
  -webkit-text-stroke: 1px #fff;
  display: block;
  margin-top: 10px;
}
.content a:hover {
  transform: translateY(-5px);
  background-color: white;
  color: black;
  -webkit-text-stroke: 1px #000;
  border: 2px solid black;
}

@media (min-width: 767px) {
  .cover-page {
    padding: 0 4vw;
    justify-content: space-between;
  }

  .content {
    max-width: 50%;
    text-align: center;
  }

  .content h1 {
    margin-bottom: 1rem;
    font-size: 6vw;
  }

  .content a {
    display: inline;
    margin-top: 2rem;
    font-size: 1.5vw;
    padding: 1vw 1vw;
  }
}

/* Loader */
.loader {
  border-radius: 25px;
  border: 2px solid #f15d43;
  background-color: #f15d43;
  width: 140px;
  height: 98px;
}

@media (min-width: 768px) {
  .loader {
    border-radius: 25px;
    border: 2px solid #f15d43;
    background-color: #f15d43;
    width: 180px;
    height: 126px;
  }
}
.loader_body,
.loader_front,
.loader_handlebars,
.loader_pedals,
.loader_pedals-spin,
.loader_seat,
.loader_spokes,
.loader_spokes-spin,
.loader_tire {
  animation: bikeBody 3s ease-in-out infinite;
  stroke: var(--primary);
  transition: stroke var(--trans-dur);
}

.loader_front {
  animation-name: bikeFront;
}

.loader_handlebars {
  animation-name: bikeHandlebars;
}

.loader_pedals {
  animation-name: bikePedals;
}

.loader_pedals-spin {
  animation-name: bikePedalsSpin;
}

.loader_seat {
  animation-name: bikeSeat;
}

.loader_spokes,
.loader_tire {
  stroke: currentColor;
}

.loader_spokes {
  animation-name: bikeSpokes;
}

.loader_spokes-spin {
  animation-name: bikeSpokesSpin;
}

.loader_tire {
  animation-name: bikeTire;
}

.parallelogram {
  width: 200px;
  height: 100px;
  background-color: #f2f2f2;
  transform: skewX(-20deg);
  margin: 20px;
  position: relative;
}

.parallelogram::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 20px;
  height: 100%;
  background-color: #f2f2f2;
  transform: skewX(20deg);
}

/* Animations */
@keyframes bikeBody {
  from {
    stroke-dashoffset: 79;
  }

  33%,
  67% {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: -79;
  }
}

@keyframes bikeFront {
  from {
    stroke-dashoffset: 19;
  }

  33%,
  67% {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: -19;
  }
}

@keyframes bikeHandlebars {
  from {
    stroke-dashoffset: 10;
  }

  33%,
  67% {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: -10;
  }
}

@keyframes bikePedals {
  from {
    animation-timing-function: ease-in;
    stroke-dashoffset: -25.133;
  }

  33%,
  67% {
    animation-timing-function: ease-out;
    stroke-dashoffset: -21.991;
  }

  to {
    stroke-dashoffset: -25.133;
  }
}

@keyframes bikePedalsSpin {
  from {
    transform: rotate(0.1875turn);
  }

  to {
    transform: rotate(3.1875turn);
  }
}

@keyframes bikeSeat {
  from {
    stroke-dashoffset: 5;
  }

  33%,
  67% {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: -5;
  }
}

@keyframes bikeSpokes {
  from {
    animation-timing-function: ease-in;
    stroke-dashoffset: -31.416;
  }

  33%,
  67% {
    animation-timing-function: ease-out;
    stroke-dashoffset: -23.562;
  }

  to {
    stroke-dashoffset: -31.416;
  }
}

@keyframes bikeSpokesSpin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(3turn);
  }
}

@keyframes bikeTire {
  from {
    animation-timing-function: ease-in;
    stroke-dashoffset: 56.549;
    transform: rotate(0);
  }

  33% {
    stroke-dashoffset: 0;
    transform: rotate(0.33turn);
  }

  67% {
    animation-timing-function: ease-out;
    stroke-dashoffset: 0;
    transform: rotate(0.67turn);
  }

  to {
    stroke-dashoffset: -56.549;
    transform: rotate(1turn);
  }
}
/* End Loader */

/* Card list */
/* .card {
  width: 190px;
  height: 254px;
  background: white;
  border-radius: 10px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.shadow {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(190, 190, 190),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
} */

/* End Card list */

p {
  font-size: 18px;
  font-weight: bolder;
}

.card {
  color: white;
  overflow: visible;
}

.card .item {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item:hover {
  transform: scale(0.95);
  transition: all 0.3s;
}

.item svg {
  width: 40px;
  height: 40px;
  margin-bottom: 7px;
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.3rem;
  --stroke: #666;
  --fill: #ffc73a;
}

.rating input {
  appearance: unset;
}

.rating label {
  cursor: pointer;
}

.rating svg {
  width: 2rem;
  height: 2rem;
  overflow: visible;
  fill: transparent;
  stroke: var(--stroke);
  stroke-linejoin: bevel;
  stroke-dasharray: 12;
  animation: idle 4s linear infinite;
  transition: stroke 0.2s, fill 0.5s;
}

@keyframes idle {
  from {
    stroke-dashoffset: 24;
  }
}

.rating label:hover svg {
  stroke: var(--fill);
}

.rating input:checked ~ label svg {
  transition: 0s;
  animation: idle 4s linear infinite, yippee 0.75s backwards;
  fill: var(--fill);
  stroke: var(--fill);
  stroke-opacity: 0;
  stroke-dasharray: 0;
  stroke-linejoin: miter;
  stroke-width: 8px;
}

@keyframes yippee {
  0% {
    transform: scale(1);
    fill: var(--fill);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
  }

  30% {
    transform: scale(0);
    fill: var(--fill);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
  }

  30.1% {
    stroke: var(--fill);
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 8px;
  }

  60% {
    transform: scale(1.2);
    fill: var(--fill);
  }
}

.carousel-cell {
  width: 150px;
  height: 150px;

  margin-right: 24px;
  counter-increment: carousel-cell;
}

.carousel-cell:before {
  display: block;
  width: 20%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  left: -260px !important;
}

.flickity-button {
  position: absolute !important;
  inset: 0 !important;
  top: 50% !important;
  left: 80% !important;
  background: white;
  border: 0px;
  color: #27272a;
}

.flickity-prev-next-button:hover {
  background-color: #27272a;
  color: white;
}

.flickity-prev-next-button.previous {
  visibility: hidden;
}

.flickity-prev-next-button.next {
  margin-left: 50px;
  width: 48px;
  height: 48px;
  visibility: hidden;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: none;
  cursor: default;
}

.flickity-prev-next-button .flickity-button-icon {
  margin-left: 2px;
  margin-top: 2px;
  width: 24px;
  height: 24px;
}

/* Login Form */
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  padding: 30px;
  max-width: 100%;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.form button {
  align-self: flex-end;
}

.flex-column > label {
  color: #151717;
  font-weight: 600;
}

.inputForm {
  border: 1.5px solid #ecedec;
  border-radius: 10px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  transition: 0.2s ease-in-out;
  max-width: 250px;
}

.input {
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 100%;
}

.inputForm .input {
  margin-top: -5px;
  padding: 4px 0 0 10px;
}

.input:focus {
  outline: none;
}

.inputForm:focus-within {
  border: 1.5px solid #2d79f3;
}

.flex-row-login {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.flex-row-login > div > label {
  font-size: 14px;
  color: black;
  font-weight: 400;
}

.span {
  font-size: 14px;
  margin-left: 5px;
  color: #2d79f3;
  font-weight: 500;
  cursor: pointer;
}

.button-submit {
  margin: 20px 0 10px 0;
  background-color: #151717;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.p {
  text-align: center;
  color: black;
  font-size: 14px;
  margin: 5px 0;
}

.btn {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  border: 1px solid #ededef;
  background-color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  border: 1px solid #2d79f3;
}

@media (min-width: 1024px) {
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    padding: 30px;
    width: 450px;
    border-radius: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .inputForm {
    min-width: 390px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .inputForm .input {
    margin-top: 0px;
  }
  .button-submit {
    width: 400px;
  }
}
/* End Login Form */

/* Custom scroll bar filter in product page */
/* Customize scrollbar */
.scrollbar::-webkit-scrollbar {
  width: 6px; /* Adjust the width as needed */
  height: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #4a5568; /* Adjust the color as needed */
  border-radius: 3px; /* Adjust the border radius as needed */
}

.scrollbar::-webkit-scrollbar-track {
  background-color: #edf2f7; /* Adjust the background color as needed */
  height: 10px;
}
.scrollbar::-webkit-scrollbar-track-piece {
  height: 100px; /* Adjust the height as needed */
}
/* End of custom scroll bar filter in product page */

/* Date picker */

@media (max-width: 640px) {
  .custom-datepicker {
    width: 3000px;
  }
}
/* End date picker */

/* Search bar in products page */
.InputContainer {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  padding-left: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}

.inputSearch {
  width: 170px;
  height: 90%;
  border: none;
  outline: none;
  font-size: 0.9em;
  caret-color: rgb(255, 81, 0);
}

.labelforsearch {
  cursor: text;
  padding: 0px 12px;
}

.searchIcon {
  width: 13px;
}

.searchIcon path {
  fill: rgb(114, 114, 114);
}
@media (max-width: 640px) {
  .InputContainer {
    width: 80%;
    margin-left: 30px;
  }
}
/* End of search bar in products page */

/* Chat button */
.chatBtn {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b, #ff2525, #ffe53b);
  cursor: pointer;
  padding-top: 3px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.164);
  position: relative;
  background-size: 300%;
  background-position: left;
  transition-duration: 1s;
}

.tooltip {
  position: absolute;
  top: -40px;
  opacity: 0;
  background-color: rgb(255, 180, 82);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
  pointer-events: none;
  letter-spacing: 0.5px;
}

.chatBtn:hover .tooltip {
  opacity: 1;
  transition-duration: 0.5s;
}

.chatBtn:hover {
  background-position: right;
  transition-duration: 1s;
}
/* End of chat button */

/* Custom chat */
.customChat {
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b, #ff2525, #ffe53b);
}
/* End of custom chat */

/* Animation open and close chat */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-in;
}

.animate-fade-out {
  animation: fade-out 0.5s ease-out;
}
/* End of animation open and close chat */

/* Custom product */
.customButton {
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b, #ff2525, #ffe53b);
}

/* Loading Add Card */
.three-body {
  --uib-size: 35px;
  --uib-speed: 0.8s;
  --uib-color: #5d3fd3;
  position: relative;
  display: inline-block;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
  position: absolute;
  height: 100%;
  width: 30%;
}

.three-body__dot:after {
  content: "";
  position: absolute;
  height: 0%;
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--uib-color);
  border-radius: 50%;
}

.three-body__dot:nth-child(1) {
  bottom: 5%;
  left: 0;
  transform: rotate(60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite ease-in-out;
  animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
  bottom: 5%;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite calc(var(--uib-speed) * -0.15)
    ease-in-out;
}

.three-body__dot:nth-child(3) {
  bottom: -5%;
  left: 0;
  transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
  top: 0;
  left: 0;
  animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes wobble1 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(-66%) scale(0.65);
    opacity: 0.8;
  }
}

@keyframes wobble2 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(66%) scale(0.65);
    opacity: 0.8;
  }
}

/* End of loading Add Card */

/* Login button */

.button-login {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: #0f1923;
  cursor: pointer;
  position: relative;
  padding: 1px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.15s ease;
}

.button-login::before,
.button-login::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid #7d8082;
  transition: all 0.15s ease;
}

.button-login::before {
  top: 0;
  border-bottom-width: 0;
}

.button-login::after {
  bottom: 0;
  border-top-width: 0;
}

.button-login:active,
.button-login:focus {
  outline: none;
}

.button-login:active::before,
.button-login:active::after {
  right: 3px;
  left: 3px;
}

.button-login:active::before {
  top: 3px;
}

.button-login:active::after {
  bottom: 3px;
}

.button_lg {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: #fff;
  background-color: #0f1923;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #0f1923;
}

.button_lg::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: #0f1923;
  transition: all 0.2s ease;
}

.button_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: #ff4655;
  transform: skew(-15deg);
  transition: all 0.2s ease;
}

.button_text {
  position: relative;
}

.button-login:hover {
  color: #0f1923;
}

.button-login:hover .button_sl {
  width: calc(100% + 15px);
}

.button-login:hover .button_lg::after {
  background-color: #fff;
}

/* End of Login button  */

/* Homepage Ads */
.homepage-welcome {
  width: 75%;
  text-align: left;
}
.ads-homepage-left {
  position: absolute;
  left: 0;
  width: 11%;
}

.ads-homepage-right {
  width: 11%;
  right: 0;
  position: absolute;
}

@media (max-width: 767px) {
  .ads-homepage-left {
    width: 18%;
  }

  .ads-homepage-right {
    width: 18%;
  }
  .homepage-welcome {
    width: 62%;
  }
}
/* End of Homepage Ads */

/* Product detail ads */
.ads-productDetail-left {
  position: absolute;
  left: 0;
  width: 11%;
}
.ads-productDetail-right {
  position: absolute;
  right: 0;
  width: 11%;
}
@media (max-width: 1025px) {
  .ads-productDetail-left {
    width: 15%;
  }
  .ads-productDetail-right {
    width: 15%;
  }
}
/* End of prodcut detail ads */
