.parent-container-paymentBTN {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 153px;
  border-radius: 4px;
  height: 52.5px;
}

.parent-container-paymentBTN:hover {
  background-color: #5de2a3;
}

.parent-container-paymentBTN:hover .container-paymentBTN {
  background-color: transparent;
  transform: scale(1.03);
  width: 76px;
}
.parent-container-paymentBTN:hover .container-paymentBTN .left-side {
  width: 100%;
}
.parent-container-paymentBTN:hover .right-side {
  background-color: #f9f7f9;
}

.parent-container-paymentBTN:hover .card {
  animation: slide-top 1.2s cubic-bezier(0.645, 0.045, 0.355, 1) both;
}

.parent-container-paymentBTN:hover .post {
  animation: slide-post 1s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

.parent-container-paymentBTN:hover .dollar {
  animation: fade-in-fwd 0.3s 1s backwards;
}

.container-paymentBTN {
  background-color: #fff;
  display: flex;
  width: 153px;
  height: 51px;
  position: relative;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
}

/* .container-paymentBTN:hover {
  transform: scale(1.03);
  width: 76px;
}

.container-paymentBTN:hover .left-side {
  width: 100%;
} */

.left-side {
  background-color: #5de2a3;
  width: 40px;
  height: 51px;
  border-radius: 4px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  flex-shrink: 0;
  overflow: hidden;
}

.right-side {
  width: calc(100% - 40px);
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  justify-content: center;
  white-space: nowrap;
  transition: 0.3s;
}

/* .right-side:hover {
  background-color: #f9f7f9;
} */

.arrow {
  width: 10px;
  height: 10px;
  margin-top: 1px;
  margin-right: 8px;
  margin-left: 6px;
}

.new {
  font-size: 16px;
  font-family: "Lexend Deca", sans-serif;
  margin-left: 10px;
  font-weight: bold;
  color: #06bf44;
}

.card {
  width: 35px;
  height: 23px;
  background-color: #c7ffbc;
  border-radius: 4px;
  position: absolute;
  display: flex;
  z-index: 10;
  flex-direction: column;
  align-items: center;
  box-shadow: 4px 4px 4px -1px rgba(77, 200, 143, 0.72);
}

.card-line {
  width: 32px;
  height: 7px;
  background-color: #80ea69;
  border-radius: 2px;
  margin-top: 4px;
}

@media only screen and (max-width: 480px) {
  /* .container-paymentBTN {
    transform: scale(0.7);
  }

  .parent-container-paymentBTN {
    width: 108px;
    height: 38px;
  } */

  /* .parent-container-paymentBTN:hover .container-paymentBTN {
    transform: scale(0.74);
  } */

  .new {
    font-size: 20px;
  }
}

.buttons {
  width: 4px;
  height: 4px;
  background-color: #379e1f;
  box-shadow: 0 -6px 0 0 #26850e, 0 6px 0 0 #56be3e;
  border-radius: 50%;
  margin-top: 3px;
  transform: rotate(90deg);
  margin: 6px 0 0 -18px;
}

/* .container-paymentBTN:hover .card {
  animation: slide-top 1.2s cubic-bezier(0.645, 0.045, 0.355, 1) both;
}

.container-paymentBTN:hover .post {
  animation: slide-post 1s cubic-bezier(0.165, 0.84, 0.44, 1) both;
} */

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-70px) rotate(90deg);
    transform: translateY(-70px) rotate(90deg);
  }

  60% {
    -webkit-transform: translateY(-70px) rotate(90deg);
    transform: translateY(-70px) rotate(90deg);
  }

  100% {
    -webkit-transform: translateY(-8px) rotate(90deg);
    transform: translateY(-8px) rotate(90deg);
  }
}

.post {
  width: 30px;
  height: 36px;
  background-color: #dddde0;
  position: absolute;
  z-index: 11;
  bottom: 6px;
  top: 87px;
  border-radius: 4px;
  overflow: hidden;
}

.post-line {
  width: 23px;
  height: 5px;
  background-color: #545354;
  position: absolute;
  border-radius: 0px 0px 2px 2px;
  right: 4px;
  top: 4px;
}

.post-line:before {
  content: "";
  position: absolute;
  width: 47px;
  height: 9px;
  background-color: #757375;
  top: -8px;
}

.post-line:before {
  content: "";
  position: absolute;
  width: 23px;
  height: 5px;
  background-color: #757375;
  top: -4px;
}

.screen {
  width: 23px;
  height: 11px;
  background-color: #fff;
  position: absolute;
  top: 9px;
  right: 4px;
  border-radius: 2px;
}

.numbers {
  width: 5px;
  height: 5px;
  background-color: #838183;
  box-shadow: 0 -8px 0 0 #838183, 0 8px 0 0 #838183;
  border-radius: 2px;
  position: absolute;
  transform: rotate(90deg);
  left: 13px;
  top: 24px;
}
.numbers-line2 {
  width: 5px;
  height: 5px;
  background-color: #aaa9ab;
  box-shadow: 0 -8px 0 0 #aaa9ab, 0 8px 0 0 #aaa9ab;
  border-radius: 2px;
  position: absolute;
  transform: rotate(90deg);
  left: 13px;
  top: 31px;
}

@keyframes slide-post {
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-70px);
    transform: translateY(-70px);
  }
}

.dollar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 10px;
  font-weight: bold;
  height: 100%;
  width: 100%;
  margin-top: 0.5px;
  left: 0;
  top: 0;
  color: #4b953b;
  text-align: center;
}

/* .container-paymentBTN:hover .dollar {
  animation: fade-in-fwd 0.3s 1s backwards;
} */

@keyframes fade-in-fwd {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
